body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    45deg,
    #121212,
    #191e23,
    #202a34,
    #273645,
    #2f4255,
    #364e66,
    #3d5a77,
    #446688
  );
  background-size: 1000% 1000%;
  animation: animatedBg 5s ease infinite;
  margin: 0;
  padding: 0;
}

@keyframes animatedBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
